<% provide(:title, "About") %>
<h2>Members</h2>
<p>1.นาย สุขสันต์ แท่นทรายทอง 6010613542
<br>2.นาย ธนัท เจียรสุวรรณ 6010613575
<br>3.นาย รธีพัฒน์ พระจันทร์ทอง 60010613393
<br>4.นาย ปฏิภาณ ไชยวิสุทธิกุล 6010613609
</p>
<h2>Project Proposal</h2>
<a href="static_pages/Proposal">Link to Proposal</a>
<h2>User Story</h2>
<a href="static_pages/User">Link to user story</a>
<h2>Link to Git</h2>
<a href="https://gitlab.com/6010613575/concal.git">Gitlab</a>
<h2>Link to pivotal tracker</h2>
<a href="https://www.pivotaltracker.com/n/projects/2406033">Pivotal tracker</a>

<h2>BDD</h2>
<a href="foods">Link to BDD</a>