<% provide(:title, "Proposal") %>
<!DOCTYPE html>
<html>
<head>
  <title>
    Proposal
  </title>
    <style>
@font face {
    font family = 'CSChatThai';
    src = url('/Concal/app/views/static_pages/CSChatThaiUI.ttf');
    font weight = normal;
    font style = normal;
}
</style>
</head>
<body>
<font face = 'CSChatThai'>
<h2>ชื่อโครงงาน Concal</h2>
<h3>ปัญหาและวัตถุประสงค์</h3>
<p><dd>เนื่องจากปัจจุบันได้มีการหันมาสนใจในด้านการรักษาสุขภาพมากขึ้น ทางเราจึงได้คิดแอพลิแคชั่นที่ใช้ในการคำนวน แคลอรี่ในแต่ละมื้อ และบันทึกมื้ออาหารที่รับประทานเข้าไป นอกจากนี้ยังเทรนเนอร์ที่สามารถช่วยให้คำแนะนำในแต่ละวันอีกด้วย</dd></p>
<h3>กลุ่มเป้าหมายผู้ใช้งาน</h3>
<p><dd>ทุกช่วงอายุที่ต้องการคำนวนแคลอรี่ที่ใช้ในแต่ละวัน และเทรนเนอร์ผู้ฝึกสอน</dd></p>
<h3>รายละเอียดของระบบ</h3>
<p><dd>-ทางด้านผู้ใช้สามารถค้นหาแคลอรี่ของอาหารได้<br>
-ทางด้านผู้ใช้สามารถคํานวณปริมาณแคลอรี่ได้<br>
-ทางด้านผู้ใช้สามารถปรึกษาพูดคุยกับเทรนเนอร์ได้<br>
-ทางด้านผู้ใช้สามารถรับรู้ข้อมูลปริมาณสารอาหาร 5 หมู่อาหารในแต่ละวัน<br>
-ทางด้านผู้ใช้ที่เป็นเทรนเนอร์สามารถให้คำปรึกษาแก่user<br>
-ทางด้านผู้ใช้ที่เป็นเทรนเนอร์สามารถจัดตารางอาหารให้แก่ user ได้</dd></p>

<h3>LoFi Ui</h3>

<%= image_tag "beforeSignup.jpg" %>
<%= image_tag "Signup.jpg" %>
<%= image_tag "Login.jpg" %>
<%= image_tag "Main.jpg" %>
<%= image_tag "AddAndcal.jpg" %>
<%= image_tag "Conclude.jpg" %>
<%= image_tag "Chat.jpg" %>
<%= image_tag "SelectTrianer.jpg" %>
<%= image_tag "TrainerAccept.jpg" %>
<%= image_tag "Editnormal.jpg" %>
<%= image_tag "Edittrainer.jpg" %>


</font>
</body>
</html>