<% provide(:title, "User Story") %>
<table border = 1 align=center>
  <th>User Story</th>
  
  <tr><td>As a customer.<br>
I want to receive the age, height, and weight of users.<br>
So that, the application can calculate the calories that they need per day.</td></tr>
<tr><td>As a customer.<br>
I want to know the calories of users that they need per day.<br>
So that, the application can tell what food that they can eat.</td></tr>
<tr><td>As a customer.<br>
I want to know what type of food that they usually choose to eat.<br>
So that, the application can find and tell the food that be similar to their favorite.</td></tr>
<tr><td>As a user.<br>
I want to choose that I will register as a trainer or normal member.</td></tr>
<tr><td>As a user.<br>
I want to have a mail box.<br>
So that, I can communicate with others.</td></tr>
<tr><td>As a normal member.<br>
I want to check trainers’ name list.<br>
So that, I can consider who I’ll request for coaching.</td></tr>
<tr><td>As a trainer.<br>
I want to access the information of a normal member.<br>
So that, I can coach him/her.</td></tr>
</table>