= form_for @food do |f|
  - if @food.errors.any?
    #error_explanation
      %h2= "#{pluralize(@food.errors.count, "error")} prohibited this food from being saved:"
      %ul
        - @food.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :food
    = f.text_field :food
  .field
    = f.label :detail
    = f.text_area :detail
  .field
    = f.label :calories
    = f.text_field :calories
  .field
    = f.label :fat
    = f.text_field :fat
  .field
    = f.label :cholesterol
    = f.text_field :cholesterol
  .field
    = f.label :sodium
    = f.text_field :sodium
  .field
    = f.label :carbohydrate
    = f.text_field :carbohydrate
  .field
    = f.label :protein
    = f.text_field :protein
  .field
    = f.label :vitamin
    = f.text_field :vitamin
  .field
    = f.label :bitamin
    = f.text_field :bitamin
  .field
    = f.label :Calcium
    = f.text_field :Calcium
  .field
    = f.label :iron
    = f.text_field :iron
  .actions
    = f.submit 'Save'
