%h1 Listing foods

%table
  %thead
    %tr
      %th Food
      %th Detail
      %th Calories(g)
      %th Fat(g)
      %th Cholesterol(mg)
      %th Sodium(mg)
      %th Carbohydrate(g)
      %th Protein(g)
      %th Vitamin(%)
      %th Bitamin(%)
      %th Calcium(%)
      %th Iron(%)
      %th
      %th
      %th

  %tbody
    - @foods.each do |food|
      %tr
        %td= food.food
        %td= food.detail
        %td= food.calories
        %td= food.fat
        %td= food.cholesterol
        %td= food.sodium
        %td= food.carbohydrate
        %td= food.protein
        %td= food.vitamin
        %td= food.bitamin
        %td= food.Calcium
        %td= food.iron
        %td= link_to 'Show', food
        %td= link_to 'Edit', edit_food_path(food)
        %td= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Add food', new_food_path
