%p#notice= notice

%p
  %b Food:
  = @food.food
%p
  %b Detail:
  = @food.detail
%p
  %b Calories:
  = @food.calories
%p
  %b Fat:
  = @food.fat
%p
  %b Cholesterol:
  = @food.cholesterol
%p
  %b Sodium:
  = @food.sodium
%p
  %b Carbohydrate:
  = @food.carbohydrate
%p
  %b Protein:
  = @food.protein
%p
  %b Vitamin:
  = @food.vitamin
%p
  %b Bitamin:
  = @food.bitamin
%p
  %b Calcium:
  = @food.Calcium
%p
  %b Iron:
  = @food.iron

= link_to 'Edit', edit_food_path(@food)
\|
= link_to 'Back', foods_path
